.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #93a7e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-box {
    background-color: #ffffff;
    border: 1px solid #636262;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ccc;
}

